version: '3'

networks:
  gobot_network:
    external: false

services:
  bot:
    image: 'avimitin/go-bot:latest'
    restart: always
    container_name: gobot_core
    networks:
      - gobot_network
    volumes:
      - './data:/data'
    depends_on:
      - db

  db:
    image: 'mariadb:10'
    restart: always
    container_name: gobot_db
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=gobot
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=gobot_db
    networks:
      - 'gobot_network'
    volumes:
      - './mysql:/var/liv/mysql'
